.report-template{
    margin: 20px 0 0 20px;
    width: 86%;
    .report-template-title{
        height: 46px;
        line-height: 46px;
        font-size: 18px;
        display: flex;
        justify-content: space-between;
        padding:0 126px 0 20px;
    }
    .report-template-type{
        display: flex;
        height: 44px;
        padding-left: 20px;
        font-size: 16px;
        background: #fff;
        line-height: 44px;
        .template-type{
            float:left;
            width: 100px;
            text-align: center;
            cursor: pointer;
        }
        .template-type-active{
            color:#5a8bff;
        } 
    }
    .template-swiper{
        margin-top: 24px;
        background: #fff;
        padding:0 92px;
        box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
        0 2px 2px 0 rgba(0,0,0,0.14),
        0 1px 5px 0px rgba(0,0,0,0.12);
        .cont{
            img{
                width: 150px;
                height: 196px;
                display: block;
                margin: 20px auto;
               }
            p{
                text-align: center;
            }
        }
        .normal{
            border:1px solid #6893ff;
        }
        .active{
            border:2px solid #6893ff;
        }
    }
    .report-preview{
        margin-top: 20px;
         .report-title{
             display: flex;
             justify-content: space-between;
             align-items: center;
             height: 46px;
             padding: 0 20px;
         }
    }
}