.home-pages {
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
  width: 95%;
  display: flex;
  .layout{
     border:1px solid #0f0a0a;
     text-align: center;
     max-height: 300px;
     margin-right: 30px;
     .addModule{
         cursor: pointer;
     }
  }

}