.newest-warning-opinion-box {
  margin-top: 20px;
  font-size: 14px;
  background-color: #FFFFFF;
  min-height: 492px;
  border-radius: 4px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
  0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0px rgba(0,0,0,0.12);
  .container {
    // padding: 0 20px 0 20px;
    .top {
      height: 44px;
      line-height: 43px;
      display: flex;
      justify-content: space-between;
      border-bottom: 1px solid #e4ebf7;
      background-color: #1b2133;
      .title {
        font-size: 18px;
        margin-left: 14px;
        .txt {
          margin-left: 14px;
          color: #fff;
        }
      }
      .more {
        color: #9b9b9b;
        font-size: 16px;
        cursor: pointer;
        margin-right: 14px;
        color:#fff;
      }
    }
    .bottom {
      .ant-tabs-nav{
        height: 60px;
        line-height: 60px;
        .ant-tabs-tab{
           padding:0 20px;
        }
      }
      .list {
        margin-top: -12px;
        .list-item {
          padding:6px 0 0 20px;
          &:hover {
            background-color: #b3e5fc;
            border-left: 2px solid #3B83E9;
            cursor: pointer;
          }
          display: flex;
          justify-content: space-between;
          border-bottom: 1px solid #e4ebf7;
          border-left: 2px solid #FFFFFF;
          height: 60px;
          .negative {
            min-width: 80px;
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
          .content {
            width: 74%;
            .title {
              color: #000000;
              overflow: hidden;
              white-space: nowrap;
              text-overflow: ellipsis;
              font-size: 18px;
            }
            .desc {
              display: flex;
              // justify-content: space-between;
              font-size: 16px;
            }
            .source{
              margin-left: 40px;
            }
          }
          .new {
            width: 10%;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
}
