.focus-setting{
    margin: 20px;
    .title{
        font-size: 18px;
        padding-left: 22px;
        background: #f0f2fb;
        height: 46px;
        line-height: 46px;
    }
    .focus-content{
        margin-top: 20px;
        font-size: 14px;
        .focus-tag{
            width: 300px;
            background: #fff;
            .media-setting{
               display: flex;
               justify-content: space-between;
               align-items: center;
               padding: 0 6px 0 24px;
               height: 52px;
               span:last-child{
                   font-size: 12px;
                   width: 80px;
                   height: 26px;
                   line-height: 26px;
                   background: #f0f2fb;
                   text-align: center;
                   border-radius:6px;
                   cursor: pointer;
               }
            }
            .tag-name{
               padding-left: 24px;
               height: 50px;
               line-height: 50px;
               border-bottom: 1px solid #e4ebf7;
            }
        }
    }
}