.modal-report{
    .modal-top{
        height: 44px;
        background: #f0f2fb;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 46px 0 14px;
        margin-top: 30px;
        font-size: 18px;
        cursor: pointer;
        .ant-input-group{
            width: 70%;
        }
        .all-search{
            width: 60px;
            height: 28px;
            line-height: 28px;
            text-align: center;
            font-size: 12px;
            background: #fff;
        }
        .ant-input{
            width: 190px;
        }
    }
    .modal-list{
        .drop-down{
            height: 600px;
            overflow: auto;
        }
    }
}
