.custom-home{
    position: relative;
    width: 80%;
    margin: 42px 0 0 54px;
    background: #f1f1f1;
    overflow: hidden;
    .slider-module{
        position: absolute;
        width: 100%;
        background: #eee;
        transition: all 3s ease;
        cursor: pointer;
        
        .slider-switch{
         display: flex;
         justify-content: center;
         background: #dbdbdb;
         border-radius:10px;
        }
        .slider-module-list{
            width: 100%;
            overflow: auto;
            height: 338px;
            li{
               width: 20%;
               height: 100px;
               margin: 2.5%;
               float: left;
               border:1px solid blue;
               position: relative;
            }
        }
    }
    .custom-title{
        background: #fff;
        height: 34px;
        line-height: 34px;
        padding-left: 28px;
    }
    .moduleCont{
        border:1px solid red;
        float:left;
        margin-left:20px; 
        height: 358px;
    }
}