.sorted-opinion-container {
  font-size: 14px;
  display: flex;
  margin: 20px;
  .sorted-menu {
    width: 11%;
    margin-right: 20px;
    position: fixed;
    left:85.6%;
    .operation {
      width: 100%;
      height: 44px;
      background: #1b2133;
      line-height: 44px;
      padding-left: 20px;
      color:#fff;
      font-size: 18px;
      .operation-btn1 {
        width: 100px;
        height: 40px;
        line-height: 40px;
        background-color: #FFFFFF;
        border-radius: 4px 0 0 0;
        border-left: 1px solid #007aff;
        border-top: 1px solid #007aff;
        font-size: 16px;
        color: #007aff;
      }
      .operation-btn2 {
        width: 100px;
        height: 40px;
        line-height: 40px;
        background-color: #007aff;
        border-radius: 0 4px 0 0;
        font-size: 16px;
      }
    }
    .sort-menu-ul {
      .catname {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 36px;
        cursor: pointer;
        color: #fff;
        background-color: #0d8da1;
        border-bottom: 1px solid #dbdbdb;
        padding-left: 10px;
        .name {
          width: 144px;
          text-overflow: ellipsis;
          white-space: nowrap;
          overflow: hidden;
          .mar{
            margin-left: 5px;
          }
          .file {
            margin-left: 5px;
            margin-right: 5px;
          }
        }
        .setting {
          .setting-icon {
            margin-right: 10px;
          }
        }
        &:hover {
          color: #000;
        }
      }
      .clf-ul {
        .clf-item {
          display: flex;
          justify-content: space-between;
          height: 36px;
          align-items: center;
          cursor: pointer;
          padding-left: 2px;
          background-color: #FFFFFF;
          &:hover {
            background-color: #f7f7f7;
            color: #0d8da1;
            border-left:2px solid #0d8da1;
            padding-left:0px;
          }
          .name {
            line-height: 36px;
            height: 36px;
            width: 80%;
            padding-left: 20px;
              text-overflow: ellipsis;
              white-space: nowrap;
              overflow: hidden;
          }
          .delete-icon {
            margin-right: 10px;
            width: 16px;
          }
        }
        .clf-item-active {
          display: flex;
          justify-content: space-between;
          height: 36px;
          line-height: 36px;
          background-color: #f2f2f2;
          color: #0d8da1;
          border-left: 2px solid #0d8da1;
          align-items: center;
          padding-left: 20px;
          cursor: pointer;
          &:hover {
            color: #0d8da1;
          }
          .name {
            line-height: 40px;
            height: 36px;
            width: 80%;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
          }
          .delete-icon {
            margin-right: 10px;
            width: 16px;
          }
        }
      }
    }
  }
  .sorted-opinion-option {
    width: 84%;
    font-size: 14px;
    .ant-menu-item-active{
      color: #fff;
    }
    .ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu{
      border-bottom: none;
    }
    .ant-menu-horizontal{
      background-color: #0c1224;
      color: #fff;
    }
    .ant-menu-item-selected{
      color: #000;
      border-bottom: none;
      background-color: #fff;
      border-radius: 7px 7px 0 0;
    }

    .topic-wrapper {
      background-color: #FFFFFF;
    }
    .topic-top{
      display: flex;
      justify-content: space-between;
      background: #0c1224;
      align-items: center;
      color:#fff;
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
      overflow: hidden;
      padding-left: 20px;
      padding-bottom: 10px;
      height: 44px;
      .ant-menu-horizontal > .ant-menu-item{
        border:none;
        border-radius: 7px 7px 0 0;
      }
      .ant-menu-item-selected{
       background-color: #fff;
       color: #000;
       border-bottom: none;
       border-radius: 7px 7px 0 0;
     }
     .close{
      cursor: pointer;
      margin-right: 18px;
      moz-user-select: -moz-none;
      -moz-user-select: none;
      -o-user-select:none;
      -khtml-user-select:none;
      -webkit-user-select:none;
      -ms-user-select:none;
      user-select:none;
      margin-top: 10px;
      span{
        margin-right: 16px;
      }
  }
   }
  }
}
