.z-header {
  height: 60px;
  line-height: 60px;
  position: fixed;
  top:0;
  z-index: 500;
  width: 100%;
  .ant-menu{
    box-shadow: 1px 1px 1px #ccc;
    &:first-child{
      box-shadow: 0px 1px 1px #ccc;
    }
    &:last-child{
      box-shadow: 0px 1px 1px #ccc;
    }
  }
  .top {
    display: flex;
    height: 100%;
    align-items: center;
    .left {
      width: 28%;
      display: flex;
      align-items: center;
      margin-left: -30px;
      cursor: pointer;
      .logo {
        width: 100px;
        margin-left: 68px;
      }
      .name {
        font-size: 22px;
        margin-left: 60px;
      }
      .ant-menu-item {
        font-size: 16px!important;
        a{
          text-align: left;
        }
      }
    }
    .right {
      position: relative;
      width: 71%;
      display: flex;
      justify-content: flex-end;
      margin-right: 68px;
      .nav-bar{
         li{
           float:left;
           margin-right: 40px;
           font-size: 16px;
           cursor: pointer;
         }
         .normal{
          a{
            color:#fff;
            text-decoration: none;
           }
         }
         .active{
           a{
             color:#ffa000;
             text-decoration: none;
           }
         }
      }
      .qq {
        margin-right: 18px;
        font-size: 20px;
        cursor: pointer;
      }
      .notify {
        margin-right: 24px;
        font-size: 20px;
        cursor: pointer;
      }
      .user-info {
        display: flex;
        cursor: pointer;
        .avatar {
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .user-item {
        position: absolute;
        z-index: 99;
        background-color: #ffffff;
        color: #000000;
        top: 64px;
        width: 140px;
        box-shadow: 0 5px 10px rgba(0,0,0,0.1);
        li {
          height: 30px;
          line-height: 30px;
        }
        .setting {
          border-bottom: 1px solid #000000;
        }
        .item {
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: #42b9f5;
          }
        }
        .esc {
          border-top: 1px solid #000000;
          text-align: center;
          cursor: pointer;
          &:hover {
            background-color: #42b9f5;
          }
        }

      }
      .item-change-theme {
        position: fixed;
        top: 40%;
        right: 0;
        z-index: 99;
        .close {
          font-size: 24px;
          color: #000;
          cursor: pointer;
        }
      }
    }
  }
}