
.root-container {
  height: 100%;
  .right-layout{
    margin-top: 60px;
    height: 100%;
    background: #E4EbF7;
  }
  .shadow{
    box-shadow: 0 0 30px #00CAE9;
    border-radius: 50%;
    width: 12px;
    background-color: #0C1224;
    z-index: -100;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 25px;
  }
}
