
.root-container {
  height: 100%;
  overflow: hidden;
  .layout {
    height: 98%;
    .sider {
      -ms-scroll-chaining: chained;
      -ms-overflow-style: none;
      -ms-content-zooming: zoom;
      -ms-scroll-rails: none;
      -ms-content-zoom-limit-min: 100%;
      -ms-content-zoom-limit-max: 500%;
      -ms-scroll-snap-type: proximity;
      -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
      scroll-snap-coordinate: none;
      .ant-menu-inline, .ant-menu-vertical{
        border:none;
      }
    }
    .trigger-wrapper {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid rgba(228,235,247,0.1);
    }
    .right-layout {
      height:100%;
      .header {
      }
      .main {
        overflow-x:hidden;
        .suspensionBox{
             position: fixed;
             right:1%;
             top:0px;
             height: 100%;
             display: flex;
             align-items: center;
             z-index: 300;
             .suspension{
              position: relative;
              height: 200px;
              width: 36px;
              background: #000000;
              opacity: 0.7;
              border-radius:10px 0 0 10px;
              padding:20px 0;
              z-index: 300;
              .suspensionList{
                height: 40px;
                line-height: 40px;
                text-align: center;
                cursor: pointer;
                .qqBox,.phoneBox,.weixinBox{
                  padding:10px 0 0 10px;
                  top:40px;
                  position: absolute;
                  transition: 0.5s;
                  height: 120px;
                  width: 130px;
                  right:-300px;
                  border-radius:10px 0 0 10px;
                  color:#ffffff;
                  background: #000000;
                  opacity: 0;
                  z-index:288;
               }
               .active{
                 opacity: 1;
                 right:30px;
               }
               .qqBox p{
                height: 30px;
                line-height: 30px;
                }
                .phoneBox p{
                  height: 24px;
                  line-height: 24px;
                  }
                .appDownload{
                  width: 100%;
                  text-align: center;
                  margin-top: -10px;
                }
              .suspensionIcon{
                 color:#C8C9CB;
                 font-size: 20px;
                 cursor:pointer;
                 padding:6px 6px;
              }
              .suspensionIcon:hover{
                 opacity:0.7;
                 transition: all .3s ease-in-out 0s;
              }
            }
          }
        }
      }
    }

  }
  .white{
    .selectMenu{
      -moz-appearance: none !important; 
      scroll-snap-coordinate: none;
    }  
    .selectMenu::-webkit-scrollbar {
      display: none; 
    }
    .ant-menu-item {
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
    }
    .ant-menu-submenu {
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
    }
    .ant-menu-sub{
      background-color: #f0f2fb;
      color:#000;
      // padding-left: 10px;
      a{
        color:#000;
      }
      .ant-menu-item-selected{
        span{
          color:#fff;
        }
      }
    }
    .ant-menu-item-selected {
      background-color: #5a8bff;
      .anticon + span{
        color:#fff;
      }
      .anticon {
        color: #fff;
      }
    }
    .ant-menu-item-active {
      background: #5a8bff;
      .anticon + span{
       color:#fff;
     }
     .anticon {
       color: #fff;
     }
   }
    .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
      margin-left: 10px;
    }
    // .ant-menu-dark .ant-menu-item > a{
    //    color:#ff0000;
    // }
    .ant-menu-submenu-inline > .ant-menu-submenu-title:after{
        color:#5a8bff;
    }
    .ant-menu-submenu-inline span{
        color:#f0f2fb;
        text-decoration: none; 
    }
    .ant-menu-submenu-inline span{
      color:#000;
      text-decoration: none; 
     }
    //  .ant-menu-submenu-inline .ant-menu-item-selected span{
    //    color:#fff;
    //  } 
  }
  .black{
    .ant-menu-item > a{
      color:#8d8d92;
    }
    .selectMenu{
      -moz-appearance: none !important; 
      scroll-snap-coordinate: none;
    }  
    .selectMenu::-webkit-scrollbar {
      display: none; 
    }
    .ant-menu-item {
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
    }
    .ant-menu-submenu {
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
      span{
        color:#fff;
      }
    }
    .ant-menu-sub{
      background-color: #181b2b;
      color:#8d8d92;
      a{
        color:#000;
      }
      .ant-menu-item-selected{
        span{
          color:#fff;
        }
      }
    }
    .ant-menu-item-selected {
      background-color: #181b2b;
      .anticon + span{
        color:#fff;
      }
      .anticon {
        color: #fff;
      }
    }
    .ant-menu-item-active {
      background: #181b2b;
      .anticon + span{
       color:#000;
     }
   }
    .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
      margin-left: 10px;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title:after{
        color:#5a8bff;
    }
    .ant-menu-submenu-inline span{
        color:#8d8d92;
        text-decoration: none; 
    }
  }
  .shadow{
    box-shadow: 0 0 30px #00CAE9;
    border-radius: 50%;
    width: 12px;
    background-color: #0C1224;
    z-index: -100;
    height: 10px;
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 25px;
  }
}
