.layout {
  height: 100%;
  .sider {
    -ms-scroll-chaining: chained;
    -ms-overflow-style: none;
    -ms-content-zooming: zoom;
    -ms-scroll-rails: none;
    -ms-content-zoom-limit-min: 100%;
    -ms-content-zoom-limit-max: 500%;
    -ms-scroll-snap-type: proximity;
    -ms-scroll-snap-points-x: snapList(100%, 200%, 300%, 400%, 500%);
    scroll-snap-coordinate: none;
    height: 100%;
    background: #fff;
    .selectMenu{
      -moz-appearance: none !important; 
      scroll-snap-coordinate: none;
    }  
    .selectMenu::-webkit-scrollbar {
      display: none; 
    }
    .ant-menu-item {
      height: 42px;
      line-height: 42px;
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
    }
    .ant-menu-submenu {
      border-bottom: 1px solid rgba(228,235,247,0.1);
      i{
        color:#5a8bff;
      }
    }
    .ant-menu-sub{
      background-color: #f0f2fb;
      color:#000;
      // padding-left: 10px;
      a{
        color:#000;
      }
      .ant-menu-item-selected{
        span{
          color:#fff;
        }
      }
    }
    
    .ant-menu-item-selected {
      background-color: #5a8bff;
      .anticon + span{
        color:#fff;
      }
      .anticon {
        color: #fff;
      }
    }
    .ant-menu-item-active {
      background: #5a8bff;
      .anticon + span{
       color:#fff;
     }
     .anticon {
       color: #fff;
     }
   }
    .ant-menu-item .anticon + span, .ant-menu-submenu-title .anticon + span{
      margin-left: 10px;
    }
    .ant-menu-dark .ant-menu-item > a{
       color:#000;
    }
    .ant-menu-submenu-inline > .ant-menu-submenu-title:after{
        color:#5a8bff;
    }
    .ant-menu-submenu-inline a{
        color:#000;
        text-decoration: none; 
    }
    .ant-menu-submenu-inline span{
      color:#000;
      text-decoration: none; 
     }
     .ant-menu-submenu-inline .ant-menu-item-selected span{
       color:#fff;
     }
    .logo-wrapper {
      height: 59px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: #4877e6;
      .logo {
        width: 52px;
        cursor: pointer;
      }
    }
    .trigger-wrapper {
      height: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-bottom: 1px solid rgba(228,235,247,0.1);
    }
  }
  .right-layout {
    height:100%;
    .header {
      border-bottom: 1px solid #E2E8F6;
    }
    .main {
      background-color: #E4EBF7;
      overflow-x:hidden;
      .suspensionBox{
           position: fixed;
           right:1%;
           top:0px;
           height: 100%;
           display: flex;
           align-items: center;
           z-index: 300;
           .suspension{
            position: relative;
            height: 200px;
            width: 36px;
            background: #000000;
            opacity: 0.7;
            border-radius:10px 0 0 10px;
            padding:20px 0;
            z-index: 300;
            .suspensionList{
              height: 40px;
              line-height: 40px;
              text-align: center;
              cursor: pointer;
              .qqBox,.phoneBox,.weixinBox{
                padding:10px 0 0 10px;
                top:40px;
                position: absolute;
                transition: 0.5s;
                height: 120px;
                width: 130px;
                right:-300px;
                border-radius:10px 0 0 10px;
                color:#ffffff;
                background: #000000;
                opacity: 0;
                z-index:288;
             }
             .active{
               opacity: 1;
               right:30px;
             }
             .qqBox p{
              height: 30px;
              line-height: 30px;
              }
              .phoneBox p{
                height: 24px;
                line-height: 24px;
                }
              .appDownload{
                width: 100%;
                text-align: center;
                margin-top: -10px;
              }
            .suspensionIcon{
               color:#C8C9CB;
               font-size: 20px;
               cursor:pointer;
               padding:6px 6px;
            }
            .suspensionIcon:hover{
               opacity:0.7;
               transition: all .3s ease-in-out 0s;
            }
          }
        }
      }
    }
  }

}
.all-opinion {
  margin: 10px 20px 20px 20px;
  font-size: 14px;
  background: #e4ebf7;
  position: relative;
  width: 100%;
  .close-open {
    height: 44px;
    line-height: 44px;
    //box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    .count {
      padding-left: 32px;
      font-size: 16px;
      color:#000;
      .number {
        color: #5a8bff;
      }
    }
    .close {
      cursor: pointer;
      margin-right: 18px;
      moz-user-select: -moz-none;
      -moz-user-select: none;
      -o-user-select:none;
      -khtml-user-select:none;
      -webkit-user-select:none;
      -ms-user-select:none;
      user-select:none;
      .closeBtn{
         font-size: 14px;
         margin-right: 16px;
      }
    }
  }
  .sort-top {
    background-color: #ffffff;
    padding: 0 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    .sort-items:last-child {
      border-bottom: none;
    }
    .sort-items {
      display: flex;
      min-height: 40px;
      line-height: 40px;
      border-bottom: 1px solid #E4EBF7;
      .left {
        width: 64px;
        color: #0c1124;
        font-size: 14px;
        margin-right: 20px;
      }
      .right {
        .item {
          display: inline-block;
          min-width: 70px;
          color: #898989;
          font-size: 14px;
          cursor: pointer;
          margin-right: 20px;
          .count {
            color: #898989;
          }
        }
        .fours {
          display: inline-block;
          min-width: 70px;
          color: #898989;
          font-size: 14px;
          cursor: pointer;
          margin-right: 40px;
          .count {
            color: #898989;
          }
        }
        .active {
          .item-inner {
            border-radius: 5px;
            color: #5a8bff;
            width: 50px;
            text-align: center;
            .count {
              color: #5a8bff;
              text-align: center;
            }
          }
        }
      }
      .other {
        margin-top: 4px;
        height: 30px;
        form {
          display: flex;
          .ant-form-item {
            margin: 0 5px;
          }
        }

      }
    }
    .media-items {
      display: flex;
      height: 60px;
      padding-top: 7px;
      .left {
        width: 64px;
        color: #0c1124;
        font-size: 14px;
        line-height: 40px;
        margin-right: 10px;
      }
      .right {
        text-align: center;
        & .item:last-child {
          margin-right: 0;
        }
        .item {
          display: inline-block;
          margin-right: 20px;
          color: #898989;
          font-size: 14px;
          cursor: pointer;
          text-align: center;
          width: 50px;
          .count {
            color: #898989;
            text-align: center;
          }
        }
        .active {
          .item-inner {
            border-radius: 5px;
            color: #5a8bff;
            text-align: center;
            width: 50px;
          }
          .count {
            color: #5a8bff;
            text-align: center;
          }
        }
      }
    }

  }
  .middle {
    margin-top: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    .count {
      height: 26px;
      line-height: 20px;
      font-size: 14px;
      color: #838383;
      padding-left: 20px;
      .number {
        color: #5a8bff;
      }
    }
  }
  .bottom {
    .pagintion-wrapper {
      margin: 20px;
      display: flex;
      justify-content: center;
      .ant-pagination-item-active{
          background: #5a8bff;
          border-color:#5a8bff;
      }
    }
  }
}
