.choose-template{
    margin: 34px 0 0 20px;
    width: 86%;
    .choose-template-title{
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding:0 24px;
        font-size: 18px;
        .ant-input{
             width: 188px;
             color:#838383;
        }
    }
    .template-list{
        height: 46px;
        line-height: 46px;
        background: #fff;
        display: flex;
        padding-left: 24px;
        font-size: 16px;
        li{
        float:left;
        margin-left: 46px;
        cursor: pointer;
        }
    }
    .template-content{
        min-height: 700px;
        background: #fff;
        margin-top: 24px;
        padding:40px 0 0 14px;
        ul{
            width: 87%;
            .cont{
                width: 200px;
                border-radius:6px;
                display: inline-block;
                margin: 20px 20px;
                cursor: pointer;
                padding:0 22px;
                height: 266px;
                img{
                    width: 150px;
                    height: 196px;
                    display: block;
                    margin: 20px auto;
                   }
                p{
                    text-align: center;
                }
            }
            .normal{
                border:1px solid #6893ff;
            }
            .active{
                border:2px solid #6893ff;
            }
        }
    }
}