.opinion-trend-box {
  // overflow: hidden;
  background-color: #FFFFFF;
  margin-top: 20px;
  margin-bottom: 20px;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,0.2),
  0 2px 2px 0 rgba(0,0,0,0.14),
  0 1px 5px 0px rgba(0,0,0,0.12);
  border-radius:4px;
  min-height: 370px;

  .container {
    .top {
      margin-top: 10px;
      .title {
        margin:0 20px;
        height: 50px;
        width: 830px;
        line-height: 50px;
        border-bottom:1px solid #1b2133;
        .txt {
          color: #000000;
          margin-left: 14px;
        }
      }
      .row {
        .col {
          // display: flex;
          // justify-content: right;
          position: absolute;
          right: -40px;
          top: 29px;
          align-items: center;
        }
        .col1{
          position: absolute;
          right: -40px;
          top: 215px;     //194
          align-items: center;
        }
        .col2{
          position: absolute;
          right: -40px;
          top: 122px;  //90
          align-items: center;
        }
          .opinion-info {
            display: flex;
            justify-content: right;
            align-items: center;
            .count {
              .number {
                font-size: 26px;
              }
              .test {
                font-size: 16px;
                color: #c0ccd1;
              }
            }
            .icon-wrapper {
              margin-left: 28px;
              margin-top: 10px;
              width: 54px;
              height: 54px;
              border-radius: 50%;
              display: flex;
              justify-content: center;
              align-items: center;
            }
          }
        }
      }
    }
    .bottom {
      max-width: 85%;
    }
    canvas{
      width: 850px !important;
    }
  }
